* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.box1 img {
    border: 1px solid blue;
    height: 170px;
    width: 273px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.box1 img:hover {
    transform: rotate(180deg);
    width: 350px;
    transform: scale(1);
    transform: rotate(180deg);
    transition: all 1s;
}
img{
    height: 100%;
    width: 100%;
}
.box2 img {
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.box2 {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.box2::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    width: 300px;
    top: 0;
    left: 100%;
    margin: 10px;
    border-radius: 10px;
}
.content {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content i{
    color: white;
    font-size: 25px;
    transition: all 0.5s;
}
.box2:hover::before{
    left: 0;
    transition: all 1s;
}
.box2:hover .content{
    top: 0;
    transition: all 1s;
}
.content i:hover{
    transform: rotate(360deg) scale(1.5);
}
