* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#row1,
#row2,
#row3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.box img {
  width: 100%;
  height: 100%;
}

.box {
  width: 30%;
  height: 300px;
  position: relative;
}

.box::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.426);
  height: 0;
  width: 0;
  transition: all 1s;
  left: 50%;
  top: 50%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
  transition: all 1s;
}

.logo i {
  color: white;
  transition: all 1s;
  font-size: 32px;
}

.logo i:hover {
  transform: rotate(360deg) scale(1.9);
}

.box:hover .logo {
  opacity: 1;
}

.box:hover::before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
}